In [63]:
import pandas as pd
from datetime import datetime

In [64]:
wines = pd.read_excel("data/Subset1.xls", 1)
wines.head()

,Table.No.,Cultivar,Color,Recommend,RecReg,Reg,Harvest date,DOY,Must.Brix,Must.Tacid,Must.pH,Wine.Alcohol,Wine.Facid,Wine.Extract,Wine.Tannin,Wine.Tasting
0,9,Chardony,White,Particularly recommended,1.0,3,1936-09-08,251.0,27.2,0.54,3.88,15.6,0.42,4.0,0.03,"Very distinct; good, but alcoholic"
1,9,Chardony,White,Particularly recommended,1.0,4,1936-08-31,243.0,23.5,0.67,3.79,13.0,0.39,NaN,NaN,Distinct; lacks acid; standard quality
2,9,Chardony,White,Particularly recommended,1.0,1,1937-10-01,273.0,22.1,0.72,3.38,12.0,0.52,2.0,0.03,Light body; fruity; distinct; good quality
3,9,Chardony,White,Particularly recommended,1.0,3,1937-09-11,253.0,24.6,0.63,3.69,12.8,0.49,2.1,0.03,Flat; tends to oxidize; but distinct
4,9,Chardony,White,Particularly recommended,1.0,1,1938-09-14,256.0,19.8,0.78,3.19,10.5,0.68,2.8,0.07,"Tart, but palatable; distinct; picked too early"

In [65]:
copie_wine = wines.copy()
weather = pd.read_excel("data/Subset3.xls", [1,2,3,4,5])
copie_wine.head()

,Table.No.,Cultivar,Color,Recommend,RecReg,Reg,Harvest date,DOY,Must.Brix,Must.Tacid,Must.pH,Wine.Alcohol,Wine.Facid,Wine.Extract,Wine.Tannin,Wine.Tasting
0,9,Chardony,White,Particularly recommended,1.0,3,1936-09-08,251.0,27.2,0.54,3.88,15.6,0.42,4.0,0.03,"Very distinct; good, but alcoholic"
1,9,Chardony,White,Particularly recommended,1.0,4,1936-08-31,243.0,23.5,0.67,3.79,13.0,0.39,NaN,NaN,Distinct; lacks acid; standard quality
2,9,Chardony,White,Particularly recommended,1.0,1,1937-10-01,273.0,22.1,0.72,3.38,12.0,0.52,2.0,0.03,Light body; fruity; distinct; good quality
3,9,Chardony,White,Particularly recommended,1.0,3,1937-09-11,253.0,24.6,0.63,3.69,12.8,0.49,2.1,0.03,Flat; tends to oxidize; but distinct
4,9,Chardony,White,Particularly recommended,1.0,1,1938-09-14,256.0,19.8,0.78,3.19,10.5,0.68,2.8,0.07,"Tart, but palatable; distinct; picked too early"

In [66]:
copie_wine.columns

Index(['Table.No.', 'Cultivar', 'Color', 'Recommend', 'RecReg', 'Reg',
       'Harvest date', 'DOY', 'Must.Brix', 'Must.Tacid', 'Must.pH',
       'Wine.Alcohol', 'Wine.Facid', 'Wine.Extract', 'Wine.Tannin',
       'Wine.Tasting'],
      dtype='object')

In [67]:
copie_wine = copie_wine.drop(columns = ['Table.No.', 'Cultivar', 'Color', 'Recommend', 'RecReg', 'Reg',
       'Harvest date', 'DOY', 'Must.Brix', 'Must.Tacid', 'Must.pH',
       'Wine.Alcohol', 'Wine.Facid', 'Wine.Extract', 'Wine.Tannin',
       'Wine.Tasting'])
copie_wine.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [68]:
class Meteo_region:

    def __init__(self, weather, wine):
        self.weather = weather
        self.wine = wine #ligne qu'on veut du wine
        self.region = weather[wines.iat[wine,5]]
        self.harvest_date = wines.iat[wine,6]
        self.jour_exact = wines.iat[wine,7]

In [69]:
test = Meteo_region(weather, 3)
print(test.harvest_date)

1937-09-11 00:00:00

wines.iat[1,6]

In [70]:
year = test.harvest_date.year

In [71]:
test.harvest_date.timetuple().tm_yday

254

In [72]:
colonnes = {}
    #creer dataframe vide avec nombre de jour qu'on veut avant harvest date en colonne
for i in range(10):
    colonnes[f"colonne_{i+1}"] = []
df = pd.DataFrame(colonnes)
analyse = 250 - 10
liste= []
for i in range(analyse,250):
    liste.append(i)
df.loc[0] = liste
df.head()

,colonne_1,colonne_2,colonne_3,colonne_4,colonne_5,colonne_6,colonne_7,colonne_8,colonne_9,colonne_10
0,240,241,242,243,244,245,246,247,248,249

In [73]:
wines.dropna(subset = ['Harvest date','DOY'], inplace = True)
wines.reset_index(drop=True, inplace = True)

In [74]:
def jour(nb_jour):
    colonnes = {}
    #creer dataframe vide avec nombre de jour qu'on veut avant harvest date en colonne
    for i in range(nb_jour):
        colonnes[f"colonne_{i+1}"] = []
    df = pd.DataFrame(colonnes)
    for index in range(len(wines)): 
        meteo = weather[wines.iat[index,5]]
        harvest_date = wines.iat[index,6]
        year = int(harvest_date.year) #recup l'année
        jour_exact = int(wines.iat[index,7])
        
        #ajouter pour chaque jour le la temparature moyenne donc a recup le harvest date et 
        analyse = jour_exact - nb_jour #la ou on commence 
        result = meteo.loc[(meteo['Year'] == year) & (meteo['DOY'].isin(range(analyse,jour_exact)))]['Tave']
        liste_temp =list(result)
        if len(liste_temp) != nb_jour :
            liste_temp = [float('nan')]*nb_jour
        df.loc[index] = liste_temp
    return df

In [75]:
new_data = jour(10)
new_data.head()

,colonne_1,colonne_2,colonne_3,colonne_4,colonne_5,colonne_6,colonne_7,colonne_8,colonne_9,colonne_10
0,18.90,20.85,21.95,22.75,19.20,18.30,18.85,18.65,21.70,24.15
1,17.50,16.65,19.75,20.55,22.25,23.60,22.75,22.25,20.80,23.05
2,20.55,18.90,18.60,16.40,19.15,21.70,21.65,18.30,16.95,16.35
3,18.30,17.50,18.60,17.20,19.45,20.85,20.80,17.25,17.75,21.65
4,18.60,19.70,20.00,20.85,20.30,20.55,21.65,22.50,21.95,20.85

In [76]:
wines = pd.read_excel("data/Subset1.xls", 1)
print(min(wines['DOY']))
wines

213.0

,Table.No.,Cultivar,Color,Recommend,RecReg,Reg,Harvest date,DOY,Must.Brix,Must.Tacid,Must.pH,Wine.Alcohol,Wine.Facid,Wine.Extract,Wine.Tannin,Wine.Tasting
0,9,Chardony,White,Particularly recommended,1.0,3,1936-09-08,251.0,27.2,0.54,3.88,15.6,0.42,4.0,0.03,"Very distinct; good, but alcoholic"
1,9,Chardony,White,Particularly recommended,1.0,4,1936-08-31,243.0,23.5,0.67,3.79,13.0,0.39,NaN,NaN,Distinct; lacks acid; standard quality
2,9,Chardony,White,Particularly recommended,1.0,1,1937-10-01,273.0,22.1,0.72,3.38,12.0,0.52,2.0,0.03,Light body; fruity; distinct; good quality
3,9,Chardony,White,Particularly recommended,1.0,3,1937-09-11,253.0,24.6,0.63,3.69,12.8,0.49,2.1,0.03,Flat; tends to oxidize; but distinct
4,9,Chardony,White,Particularly recommended,1.0,1,1938-09-14,256.0,19.8,0.78,3.19,10.5,0.68,2.8,0.07,"Tart, but palatable; distinct; picked too early"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,25,Red Malaga (Molinera),Red,Table grape,NaN,4,1937-10-25,297.0,21.8,0.47,3.74,12.0,0.28,2.3,0.04,Very flat; some spoilage; very ordiry sherry
1479,25,Red Malaga (Molinera),Red,Table grape,NaN,4,1940-10-07,280.0,22.7,0.36,3.90,12.4,0.40,2.8,0.04,Flat; pink; very common; lacks everything
1480,25,Ribier,Red,Table grape,NaN,4,1935-11-01,304.0,20.2,0.55,NaN,10.8,0.34,2.5,0.08,"Flat; poor; sherry; soft, but no character"
1481,25,Ribier,Red,Table grape,NaN,4,1937-10-13,285.0,17.6,0.50,3.58,9.5,0.35,2.1,0.06,Flat; ordiry; tends to spoil
1482,25,Ribier,Red,Table grape,NaN,4,1940-10-10,283.0,19.0,0.52,3.77,9.9,0.46,NaN,NaN,No flavor; lacks acid; very poor quality

In [77]:
wines.dropna(subset = ['Harvest date'], inplace=True)
wines.reset_index(drop=True, inplace=True)

In [78]:
i = list(range(1,201))
i = list(map(str, i))
temperatures = pd.DataFrame(columns = i)

In [79]:
for i in range(len(wines)):
    new_row = []
    r = wines["Reg"][i]
    d = wines['Harvest date'][i]
    h = int(wines['DOY'][i])
    new_row = list(weather[r].loc[(weather[r]['Year'] == d.year) & (weather[r]['DOY'].isin(range(h-200,h)))]['Tave'])
    if len(new_row) != 200:
        new_row = [float('nan')] * 200
    temperatures.loc[len(temperatures)] = new_row
print(temperatures.isnull().sum(axis = 0))

1      102
2      102
3      102
4      102
5      102
      ...
196    102
197    102
198    102
199    102
200    102
Length: 200, dtype: int64

In [80]:
#reduction de dimension, ca enleve la variabilité des données qui correspondent au bruit donc ca permet de savoir ce qu'est vraiment nos données
#elimination de variable, on entraine un modele sur nos donneés, on trouve la variable (l'attribut) qui contirbue le moins et on la supprimes

#fonction qui prend en argument le chiffre par lequel on va partioonner notre dataset : exemple 10 alors il y aura 10 colonnes 
#de temperature qui vont prendre la moyenne des 20 jours sur lequel ils sont
def colonne_nb_jour(nb_jour):
    temperatures_bis = pd.DataFrame()
    addition = 200//nb_jour
    if 200%nb_jour !=0:
        print("trouver une autre valeur")
    else:
        for index in range(nb_jour): 
            colonnes = []
            for i in range(index*addition+1, index*addition+ addition +1):
                colonnes.append(f"{i}")  
            moyenne = temperatures[colonnes].mean(axis=1)
            temperatures_bis[f"{index + 1}"] = moyenne
    return temperatures_bis

In [83]:
new_temp = colonne_nb_jour(10)
print(new_temp.isnull().sum(axis = 0))
new_temp

1     102
2     102
3     102
4     102
5     102
6     102
7     102
8     102
9     102
10    102
dtype: int64

,1,2,3,4,5,6,7,8,9,10
0,13.0000,11.7750,13.351021,16.194622,18.397500,18.832500,21.572500,24.007500,24.5125,20.5550
1,11.4025,14.3025,11.760000,15.605000,18.492179,17.892500,23.035000,24.047612,25.5800,22.6600
2,10.9600,12.9150,14.315000,16.802500,17.445000,20.867500,19.720000,20.455000,18.1275,19.9725
3,12.4125,10.5350,12.867500,14.445000,18.195000,18.532500,23.957500,22.765000,23.5825,20.1200
4,11.9250,10.7225,13.265000,13.035000,15.135543,18.082019,19.074932,19.647161,18.9000,19.7500
...,...,...,...,...,...,...,...,...,...,...
1468,14.8275,16.8850,19.785000,19.540000,24.965000,23.830000,23.900000,20.727500,20.4800,18.4950
1469,13.7825,16.1575,18.917500,20.012500,23.995000,22.907500,22.315000,22.575000,21.3850,19.5800
1470,15.1275,17.2500,21.037500,21.902500,22.712500,23.072500,23.500000,20.945000,19.8200,13.9325
1471,12.8775,15.2675,17.872500,19.907500,23.067500,23.755000,24.375000,22.332500,21.6875,18.4100
1472,14.1150,16.1400,19.725000,20.537500,23.565000,22.492500,22.815000,22.452500,21.2000,18.9575

In [ ]:
#souvent on hyperparametre avant cross validation

#pour trouver les bons resulats de cross validation 
# accuracy rappel precision F1 correlation pour chaque etape du cross validation
#moyenne de chaque score

#fit sur les trains et transfo sur validation avec pipeline de sklearn de cross validation
#ensuite on peut utiliser toutes les données de train de cross validate avant de tester pour trouver les hyperparametres


#il faudrait tout fusionner avec la moyenne l'ecart type
#kernel marche bien en dimension infini
#essayer vaec juste min max average tout ca on peuut faire recursive feature eliminiation sur 15 atttribut et trouver de 7 a 10 variable les plus importantes

#utile multivariate feature




#reduction de dimension, ca enleve la variabilité des données qui correspondent au bruit donc ca permet de savoir ce qu'est vraiment nos données
#elimination de variable, on entraine un modele sur nos donneés, on trouve la variable (l'attribut) qui contirbue le moins et on la supprimes