In [1]:
import pandas as pd
from datetime import datetime

In [2]:
wines = pd.read_excel("data/Subset1.xls", 1)
wines.head()

,Table.No.,Cultivar,Color,Recommend,RecReg,Reg,Harvest date,DOY,Must.Brix,Must.Tacid,Must.pH,Wine.Alcohol,Wine.Facid,Wine.Extract,Wine.Tannin,Wine.Tasting
0,9,Chardony,White,Particularly recommended,1.0,3,1936-09-08,251.0,27.2,0.54,3.88,15.6,0.42,4.0,0.03,"Very distinct; good, but alcoholic"
1,9,Chardony,White,Particularly recommended,1.0,4,1936-08-31,243.0,23.5,0.67,3.79,13.0,0.39,NaN,NaN,Distinct; lacks acid; standard quality
2,9,Chardony,White,Particularly recommended,1.0,1,1937-10-01,273.0,22.1,0.72,3.38,12.0,0.52,2.0,0.03,Light body; fruity; distinct; good quality
3,9,Chardony,White,Particularly recommended,1.0,3,1937-09-11,253.0,24.6,0.63,3.69,12.8,0.49,2.1,0.03,Flat; tends to oxidize; but distinct
4,9,Chardony,White,Particularly recommended,1.0,1,1938-09-14,256.0,19.8,0.78,3.19,10.5,0.68,2.8,0.07,"Tart, but palatable; distinct; picked too early"

In [3]:
copie_wine = wines.copy()
weather = pd.read_excel("data/Subset3.xls", [1,2,3,4,5])
copie_wine.head()

,Table.No.,Cultivar,Color,Recommend,RecReg,Reg,Harvest date,DOY,Must.Brix,Must.Tacid,Must.pH,Wine.Alcohol,Wine.Facid,Wine.Extract,Wine.Tannin,Wine.Tasting
0,9,Chardony,White,Particularly recommended,1.0,3,1936-09-08,251.0,27.2,0.54,3.88,15.6,0.42,4.0,0.03,"Very distinct; good, but alcoholic"
1,9,Chardony,White,Particularly recommended,1.0,4,1936-08-31,243.0,23.5,0.67,3.79,13.0,0.39,NaN,NaN,Distinct; lacks acid; standard quality
2,9,Chardony,White,Particularly recommended,1.0,1,1937-10-01,273.0,22.1,0.72,3.38,12.0,0.52,2.0,0.03,Light body; fruity; distinct; good quality
3,9,Chardony,White,Particularly recommended,1.0,3,1937-09-11,253.0,24.6,0.63,3.69,12.8,0.49,2.1,0.03,Flat; tends to oxidize; but distinct
4,9,Chardony,White,Particularly recommended,1.0,1,1938-09-14,256.0,19.8,0.78,3.19,10.5,0.68,2.8,0.07,"Tart, but palatable; distinct; picked too early"

In [4]:
copie_wine.columns

Index(['Table.No.', 'Cultivar', 'Color', 'Recommend', 'RecReg', 'Reg',
       'Harvest date', 'DOY', 'Must.Brix', 'Must.Tacid', 'Must.pH',
       'Wine.Alcohol', 'Wine.Facid', 'Wine.Extract', 'Wine.Tannin',
       'Wine.Tasting'],
      dtype='object')

In [5]:
copie_wine = copie_wine.drop(columns = ['Table.No.', 'Cultivar', 'Color', 'Recommend', 'RecReg', 'Reg',
       'Harvest date', 'DOY', 'Must.Brix', 'Must.Tacid', 'Must.pH',
       'Wine.Alcohol', 'Wine.Facid', 'Wine.Extract', 'Wine.Tannin',
       'Wine.Tasting'])
copie_wine.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [6]:
class Meteo_region:

    def __init__(self, weather, wine):
        self.weather = weather
        self.wine = wine #ligne qu'on veut du wine
        self.region = weather[wines.iat[wine,5]]
        self.harvest_date = wines.iat[wine,6]
        self.jour_exact = wines.iat[wine,7]

In [7]:
test = Meteo_region(weather, 3)
print(test.harvest_date)

1937-09-11 00:00:00

wines.iat[1,6]

In [8]:
year = test.harvest_date.year

In [9]:
test.harvest_date.timetuple().tm_yday

254

In [10]:
colonnes = {}
    #creer dataframe vide avec nombre de jour qu'on veut avant harvest date en colonne
for i in range(10):
    colonnes[f"colonne_{i+1}"] = []
df = pd.DataFrame(colonnes)
analyse = 250 - 10
liste= []
for i in range(analyse,250):
    liste.append(i)
df.loc[0] = liste
df.head()

,colonne_1,colonne_2,colonne_3,colonne_4,colonne_5,colonne_6,colonne_7,colonne_8,colonne_9,colonne_10
0,240,241,242,243,244,245,246,247,248,249

In [11]:
wines.dropna(subset = ['Harvest date','DOY'], inplace = True)
wines.reset_index(drop=True, inplace = True)

In [12]:
def jour(nb_jour):
    colonnes = {}
    #creer dataframe vide avec nombre de jour qu'on veut avant harvest date en colonne
    for i in range(nb_jour):
        colonnes[f"colonne_{i+1}"] = []
    df = pd.DataFrame(colonnes)
    for index in range(len(wines)): 
        meteo = weather[wines.iat[index,5]]
        harvest_date = wines.iat[index,6]
        year = int(harvest_date.year) #recup l'année
        jour_exact = int(wines.iat[index,7])
        
        #ajouter pour chaque jour le la temparature moyenne donc a recup le harvest date et 
        analyse = jour_exact - nb_jour #la ou on commence 
        result = meteo.loc[(meteo['Year'] == year) & (meteo['DOY'].isin(range(analyse,jour_exact)))]['Tave']
        liste_temp =list(result)
        if len(liste_temp) != nb_jour :
            liste_temp = [float('nan')]*nb_jour
        df.loc[index] = liste_temp
    return df

In [13]:
new_data = jour(10)
new_data.head()

,colonne_1,colonne_2,colonne_3,colonne_4,colonne_5,colonne_6,colonne_7,colonne_8,colonne_9,colonne_10
0,18.90,20.85,21.95,22.75,19.20,18.30,18.85,18.65,21.70,24.15
1,17.50,16.65,19.75,20.55,22.25,23.60,22.75,22.25,20.80,23.05
2,20.55,18.90,18.60,16.40,19.15,21.70,21.65,18.30,16.95,16.35
3,18.30,17.50,18.60,17.20,19.45,20.85,20.80,17.25,17.75,21.65
4,18.60,19.70,20.00,20.85,20.30,20.55,21.65,22.50,21.95,20.85

In [14]:
result = weather[2].loc[(weather[2]['Year'] == 1911) & (weather[2]['DOY'] == 7)]